<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sky.dao.mapper.UserMapper">
    <resultMap type="org.sky.dao.DO.UserDO" id="BaseResultMap">
        <id column="id" property="id" jdbcType="VARCHAR"/>    
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, nickname, account, password, createtime
    </sql>
    <insert id="saveUser" parameterType="org.sky.dao.DO.UserDO">
        insert into user (
            id, 
            nickname, 
            account, 
            password, 
            createtime
        ) values (
            #{id, jdbcType=VARCHAR},
            #{nickname, jdbcType=VARCHAR},
            #{account, jdbcType=VARCHAR},
            #{password, jdbcType=VARCHAR},
            #{createtime, jdbcType=TIMESTAMP}
        )
    </insert>
    <select id="getUserById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from user
        where id = #{id, jdbcType=VARCHAR}
    </select>
    <select id="listUser" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from user
    </select>
</mapper>